/******************************************************************

    Author:         Paul Lucas
    Company:        Salesforce
    Description:    qsydMessagePanel
    Date:           05-Aug.-2020

    TODO:
    - https://www.lightningdesignsystem.com/design-tokens/

 *******************************************************************/