/******************************************************************

    Author:         Paul Lucas
    Company:        Salesforce
    Description:    qsydAlert
    Date:           01-May-2020

    TODO:
    - https://www.lightningdesignsystem.com/design-tokens/

 *******************************************************************/