/******************************************************************

    Author:         Paul Lucas
    Company:        Salesforce
    Description:    qsydModal
    Date:           30-Apr.-2020

    TODO:
    - https://www.lightningdesignsystem.com/design-tokens/

 *******************************************************************/

.modal-hidden {
    display: none;
}