.THIS .header-image {
    height: 75px;
    border-radius: .25rem .25rem 0 0;
}

.THIS .customer-image-container {
    position: relative;
    display: inline-block;
    margin-top: -35px;

}

.THIS .customer-avatar {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
}

.THIS .csat-icon {

    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 0;
    background-color: white;

}

.THIS .shade {
    background-color: #e8e8e8;
}

.THIS .cust360-icon {
    width: 48px;
    height: 48px;
}

.THIS .ellie .slds-icon-ellie {
    margin-top: 3px;
}

.THIS .csat-icon-positive .slds-icon {
    fill: #4bca81 !important;
}

.THIS .csat-icon-negative .slds-icon {
    fill: #d4504c !important;
}

.THIS .csat-icon-neutral .slds-icon {
    fill: #ffb75d !important;
}

.THIS .grey-icon .slds-icon {
    fill: #706e6b !important;

}

.THIS .grey-icon {
    background-color: white;
}

.THIS .einstein-icon .slds-icon {
    padding: 2px;
    fill: #ffffff;
}

.THIS .churn-card {
    border-bottom: 1px solid rgb(221, 219, 218) !important;
}

.THIS .progress-bar-green .slds-progress-bar__value {
    background: #4bca81 !important;

}

.THIS .progress-bar-yellow .slds-progress-bar__value {
    background: #ffb75d !important;

}

.THIS .progress-bar-red .slds-progress-bar__value {
    background: #d4504c !important;

}

.THIS .progress-bar-value {
    border-radius: .5rem;
}

.THIS .title-weight {
    font-weight: 700;
}

.THIS.card-pull-margin {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;

}

.THIS .font-regular {
    font-size: 13px;
}